<h1>Recipe Box</h1>
<div *ngFor="let recipe of recipes" class="recipe1">
  <ul>
    <li (click)="showDetails(recipe)">{{recipe.title}}</li>
  </ul>
</div>

  <div *ngIf="selectedRecipe">
    <h3>{{selectedRecipe.title}}</h3>
    <li>Ingredients:
      <ul>
        <li *ngFor='let ingredient of selectedRecipe.ingredients'>{{ingredient}}</li>
      </ul>
    </li>
    <li>Instructions:
      <ol>
        <li *ngFor='let instruction of selectedRecipe.instructions'>{{instruction}}</li>
      </ol>
    </li>
    <button (click)="editRecipe()">Edit</button>
    <button (click)="finishedViewing()">Done</button>
    <div *ngIf="editRecipeField">
      <h3>Edit Task</h3>
      <label>Enter Recipe Name:</label>
      <input [(ngModel)]="selectedRecipe.title"><br>
      <label>Enter Ingredient List:</label>
      <input [(ngModel)]="selectedRecipe.ingredients[0]"><br>
      <label>Enter Instructions:</label>
      <input [(ngModel)]="selectedRecipe.instructions[0]"><br>
      <button (click)="finishedEditing()">Done</button>
    </div>
  </div>
